<!--<p>topdata works!</p>
<img src="assets/topdata.jpg" /> -->
<h1>User</h1>
<form >
    <p>
        <label>User id:</label>
        <input type="text"
            name="nome"
            required>
    </p>
    <p>
        <label>First Name:</label>
        <input type="text"
            name="nome"
            required>
    </p>
    <p>
        <label>Profile Id:</label>
        <input type="text"
            name="nome"
            required>
    </p>
    <p>
        <label>Email:</label>
        <input type="text"
            name="nome"
            required>
    </p>
    <p>
        <label>Password:</label>
        <input type="password"
            name="password"
             required>
    </p>
    <p>
        <button type="submit" >Submit</button>
    </p>
</form>

<!-- <div class="register-form">
    <form [form Group ]="formRegister" (ngSubmit)="onSubmit(mymodal)">
        <h5>Cadastro de cliente</h5>
        <hr>
        <div class="form-group ">
            <label>Nome</label>
            <input type="text " formControlName="name" class="form-control " [ngClass]="{ 'is-invalid': submitted && f[ 'name'].errors } " />
        </div>
        <div *ngIf="submitted && f[ 'name'].errors " class="invalid-feedback ">
            <div *ngIf="f[ 'name'].errors[ 'required'] ">o campo nome é obrigatório</div>

        </div>

        <div class="form-group ">
            <label>Sobrenome</label>
            <input type="text " formControlName="sobrenome" class="form-control " [ngClass]="{ 'is-invalid': submitted && f[ 'sobrenome'].errors } " />
            <div *ngIf="submitted && f[ 'sobrenome'].errors " class="invalid-feedback ">
                <div *ngIf="f[ 'sobrenome'].errors[ 'required'] ">o campo sobrenome é obrigatório</div>
            </div>
        </div>

        <div class="form-group ">
            <label>CPF</label>
            <input type="text " formControlName="cpf" class="form-control " [ngClass]="{ 'is-invalid': submitted && f[ 'cpf'].errors } " />
            <div *ngIf="submitted && f[ 'cpf'].errors " class="invalid-feedback ">
                <div *ngIf="f[ 'cpf'].errors[ 'required'] ">o campo cpf é obrigatório</div>
            </div>
        </div>

        <div class="form-group ">
            <button type="submit " class="btn btn-success ">Salvar</button>
            <button type="button " (click)="onCancel() " class="btn btn-dark float-right ">    Voltar        </button>
        </div>
    </form>
</div>

<ng-template #mymodal let-modal>
    <div class="modal-header ">
        <h4 class="modal-title " id="modal-basic-title ">Sucesso</h4>
        <button type="button " class="close " aria-label="Close " (click)="modal.dismiss( 'Cross click') ">
      <span aria-hidden="true ">×</span>
    </button>
    </div>
    <div class="modal-body ">
        Cliente Salvo com Sucesso
    </div>
    <div class="modal-footer ">
        <button type="button " class="btn btn-outline-dark " (click)="modal.close( 'Save click') ">Ok</button>
    </div>
</ng-template> -->